@startuml
class ${Cservice}Controller {
  ${Cservice}Service ${service}service
  Logger : logger
  ResourceBundle resourceBundle
  --
  +${Cservice}Controller() 
  +add${Cservice}(${Cservice}) : ResponseEntity<Object>
  +getAll${Cservice}() : List<Object>
  +get${Cservice}ByName() : ResponseEntity<Object>
  +delete${Cservice}ByName() : ResponseEntity<Object>
  +update${Cservice}ByName() : ResponseEntity<Object>
}
  interface ${Cservice}Service{
  +save${Cservice}(${Cservice}) : ${Cservice}
  +getAll${Cservice}() : List<Object>
  +findBy${Cservice}Name(String) : ${Cservice}
  +delete${Cservice}ByName(String) : int
  +update${Cservice}ByName(${Cservice},String) : ${Cservice}
  }

  class ${Cservice}ServiceImpl implements ${Cservice}Service{
  ${Cservice}Repository  ${service}Repository
  Logger : logger
  --
  +${Cservice}ServiceImpl()
  +save${Cservice}(${Cservice}) : ${Cservice}
  +getAll${Cservice}() : List<Object>
  +findBy${Cservice}Name(String) : ${Cservice}
  +delete${Cservice}ByName(String) : int
  +update${Cservice}ByName(${Cservice},String) : ${Cservice}
  }
  class Database{
  }
  class CPException{
  -errCode
  -message
  --
  +getters()
  +setters()
  +default_constructor()
  +parameterized_constructor()
  +toString()
  }
  
  class ResponseHandler{
  -ResourceBundle : resourceBundle
  --
  +generateResponse(HttpStatus status)
  +generateResponse(Object responseObj, HttpStatus status)
  +generateResponse(String code,HttpStatus status)
  +generateListResponse(HttpStatus status,String code)
  }
  class ${Cservice}{
  -${service}Id : int
  -${service}IsActive : boolean
  -${service}CreatedBy : String
  -${service}CreatedOn : Date
  -${service}ModifiedBy : String
  -${service}ModifiedOn : Date
  -${service}Picture : String
  --
  +${Cservice}()
 
  }
  interface ${Cservice}Repository{
  +findBy${Cservice}Name(String) : ${Cservice}
  +findBy${Cservice}IsActiveTrue() : List<Object>
  +deleteBy${Cservice}Name(String) : int
  }
  interface JpaRepository{
  <${Cservice},Integer>
  }

 ${Cservice}Controller--> "${Cservice}Service" : use
 ${Cservice}ServiceImpl--> "${Cservice}Repository" : use
 ${Cservice}Repository--> "JpaRepository" : extends
 ${Cservice}Controller-->"${Cservice}" 
 ${Cservice}ServiceImpl-->"${Cservice}"
 ${Cservice}Repository-->"Database"
 ${Cservice}Controller-->ResponseHandler : uses
 ${Cservice}Controller-->CPException : uses
 ${Cservice}Repository-->"${Cservice}" : uses
 
@enduml