@startuml
actor user
participant ${Cservice}Application as uhpoc
participant ${Cservice}Controller as main
participant CPException as cp
participant ResponseHandler as rh
participant ${Cservice}Service as serv
participant ${Cservice}ServiceImpl as impl
participant ${Cservice}Repository as repo
database DATABASE as db
activate uhpoc
activate user
  user-->uhpoc : Enter URL-[http://localhost:8090/uhpocms/${service}/{${findbys}}]
    alt#Gold Case:If any Exception occur
    uhpoc-> main : 
    activate main
    main->cp : throws CPException
    activate cp
    cp-> user : Get ${service} Failed 
    deactivate cp
    else  Case: If no exception occur
     uhpoc -> main : main()
          main -> serv : findBy${entity}${findBy}()
          activate serv
          serv -> impl : findBy${entity}${findBy}()
          activate impl
          impl -> repo : findBy${entity}${findBy}()
          activate repo
          repo -> db : Fetching ${Cservice} data by ${findbys}
          activate db
           db->db : Fetching data
          db --> repo : Data of ${Cservice} by ${findbys}
          deactivate db
          repo --> impl :  Data of ${Cservice} by ${findbys}
          deactivate repo
          impl --> serv : Data of ${Cservice} by ${findbys}
          deactivate impl
          serv --> main :  Data of ${Cservice} by ${findbys}
          deactivate serv
          alt#Gold If data of ${Cservice} is not null
          main->rh : generateResponse()
          activate rh
          rh->rh : generating response
          rh->main : response with HttpStatus code 200
          deactivate rh
          main --> uhpoc :  Return ${service} data by ${findbys} and return HttpStatus code 200
          uhpoc--> user :  Return ${service} data by ${findbys} and return HttpStatus code 200
          else If data of ${Cservice} is null
           main->rh : generateResponse()
          activate rh
          rh->rh : generating response
          rh->main : response with HttpStatus code 500
          deactivate rh
          main->uhpoc : Getting ${Cservice} failed with HttpStatus Code 500
          deactivate main
          uhpoc->user : Getting ${Cservice} failed with HttpStatus Code 500
          deactivate uhpoc
          deactivate user
      end
      end
@enduml
