/**
 * @author - Code Generator
 * @createdOn ${genDate}
 * @Description Controller class for ${service}
 * 
 */

package com.cpa.uhpocms.serviceimpl;

import java.util.List;

import org.apache.log4j.Logger;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

//import com.cpa.uhpocms.controller.${Cservice}Controller;
import com.cpa.uhpocms.entity.${Cservice};
import com.cpa.uhpocms.repository.${Cservice}Repo;
import com.cpa.uhpocms.service.${Cservice}Service;

@Service
public class ${Cservice}ServiceImpl implements ${Cservice}Service {

	@Autowired
	private ${Cservice}Repo ${service}Repo;
	private static Logger logger;

	public ${Cservice}ServiceImpl() {
		logger = Logger.getLogger(${Cservice}ServiceImpl.class);
	}

	/**
	 * @param : ${Cservice} ${service}
	 * @return : ${Cservice} created${Cservice}
	 * @description : For creating/inserting entry in ${TableName} table
	 */
	@Override
	public ${Cservice} create${Cservice}(${Cservice} ${service}) {
		logger.debug("Entering create${Cservice}");
		${Cservice} created${Cservice} = null;

	//	${service}.set${Cservice}CreatedBy("admin");
	//	${service}.set${Cservice}ModifiedBy("admin");

		created${Cservice} = ${service}Repo.save(${service});
		logger.info("created ${Cservice} :" + created${Cservice});
		return created${Cservice};
	}

	/**
	 * @param : String ${findbys}
	 * @return : ${Cservice} ${service}
	 * @description : For get entry in ${TableName} table
	 */
	@Override
	public ${Cservice} get${Cservice}By${findBy}(String ${findbys}) {
		logger.debug("Entering get${Cservice}By${findBy}");

		${Cservice} ${service} = ${service}Repo.findBy${entity}${findBy}(${findbys});
		logger.info("Founded ${service} :" + ${service});

		return ${service};
	}

	/**
	 * @return : List<Object> ${service}
	 * @description : For fetching all ${service} which are active state from ${TableName} table
	 */
	@Override
	public List<Object> getAll${Cservice}s() {
		logger.debug("Entering getAll${Cservice}s");

		List<Object> ${service}s = ${service}Repo.findBy${entity}IsActiveTrue();
		logger.info("Fetched all active ${service} :" + ${service}s);
		return ${service}s;
	}

	/**
	 * @param : ${Cservice} to update
	 * @return : ${service}
	 * @description : For updating ${service} of ${TableName} table
	 */
	@Override
	public ${Cservice} update${Cservice} (${Cservice} ${service}, String ${findbys}) {
		logger.debug("Entering update${Cservice}");

		${Cservice} toUpdated${Cservice} = null;
		${Cservice} updated${Cservice} = null;

		toUpdated${Cservice} = ${service}Repo.findBy${entity}${findBy}(${findbys});
		logger.info("exisitng ${Cservice} :: " + toUpdated${Cservice});

		if (toUpdated${Cservice} != null) {
			logger.debug("setting new data of ${Cservice} to exisitng ${Cservice}");

//			${service}.setModifiedBy("admin");
						
			updated${Cservice} = ${service}Repo.save(${service});

			logger.info("updated ${Cservice} :" + updated${Cservice});
		}

		return updated${Cservice};
	}

	/**
	 * @param : String ${findbys}
	 * @return : int (count of record updated)
	 * @description : This is function is used to soft delete the record of ${Cservice}
	 * 
	 */
	@Override
	public int delete${Cservice}By${findBy}(String ${findbys}) {
		logger.debug("Entering delete${Cservice}By${findBy}");

		int count =  ${service}Repo.delete${entity}By${findBy}(${findbys});
		logger.info("deleted ${Cservice} count : " + count);
		return count;
	}

}
