/**
 * @author  - Code Generator
 * @createdOn -  ${genDate}
 * @Description Entity class for ${Cservice}
 * 
 */

package com.cpa.uhpocms.repository;

import java.util.List;

import javax.transaction.Transactional;

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.Modifying;
import org.springframework.data.jpa.repository.Query;
import org.springframework.stereotype.Repository;

import com.cpa.uhpocms.entity.${Cservice};

@Repository
public interface ${Cservice}Repo extends JpaRepository<${Cservice}, Integer> {

	public ${Cservice} findBy${findBy}(String ${findbys});

	public List<Object> findByIsactiveTrue();

	@Transactional
	@Modifying
	@Query(value = "UPDATE  ${TableName} SET is_active=false WHERE ${findbys} = ?1", nativeQuery = true)
	public int deleteBy${findBy}(String ${findbys});

}
